@font-face {
  font-family: "Metropolis";
  src: url("./Metropolis-Regular.woff2"), format("woff2"),
    url("./Metropolis-Regular.woff"), format("woff");
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: red;

  font-family: "Metropolis";

  background: url("./image.jpg");
}
